@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,400;1,100;1,300;1,400;1,700;1,400&display=swap');


body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.home , .signin, .onboard {
  background: rgb(102,175,255);
  background: linear-gradient(149deg, rgba(102,175,255,1) 0%, rgba(245,245,245,1) 36%, rgba(245,245,245,1) 61%, rgba(102,175,255,1) 100%);
  
}



 






